<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
</head>

<body background="images/background.jpg">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main id="home">
    <h1>Opps!! Something went wrong please come back later</h1>
    <div class="about-section">
      <div class="header-font">
      <h2 id="about">About</h2>
    </div>
      <span>This is project developed by Neha Gupta for academic and learning purpose.</span>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>